<h1>New Crypto View</h1>

{{!-- <form action="/cryptos/create" method="post" enctype="multipart/form-data"> --}}
<form action="/cryptos/create" method="post">

<label>Name</label>
<input type="text" name="name">

<label>Image</label>
  <input type="text" name="image" />

<label>Price</label>
<input type="number" name="currentPrice">

<!-- <label>Exchanges</label>
<input type="text" name="catchPhrase"> -->

    <button type="submit">
        Save
    </button>
</form>